*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #215f7b;
    width: 100%;
    position: fixed;
    margin-bottom: 100px;
    z-index: 2;
}
.padding{
    padding-bottom: 75px;
}

li{
    list-style: none;
}

a{
    color:white;
    text-decoration: none;
}

.logo{
    width: 70px;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    font-family: 'IBM Plex Sans', sans-serif;
    transition: 0.7s ease;
}

.nav-link:hover{
    color: black;
}
.Database{
    font-size: 18px;
    color: aqua;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

}


.footer{
    background-color: gray;
    padding: 70px
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    padding-bottom: 10px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: rgb(22, 48, 133);
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    transition: all 0.5s ease;

}

.footer-col .social-links a:hover{
    background-color: #ffffff;
    color: gray;
}

@media( max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media( max-width: 550px){
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #215f7b;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    
    }
    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}
